// CSS compilado com o pré-processador sass
// Para inatalar o sass, rode no terminal: npm install -g sass
// Para compilação automática, rode no terminal: sass --watch style.scss:style.css
// Para compilação manual, rode no terminal: sass style.scss style.css
// Para compilação minimizada, rode no terminal: sass style.scss style.css --style compressed

:root {
    --fonte-titulo: 'Playwrite BR';
    --fonte-texto: 'Nunito';
    --fonte-destaque: 'Roboto Mono';
    --tamanho-titulo: 1.6rem;
    --tamanho-texto: 1.1rem;
    --tamanho-destaque: 1.3rem;
    --tamanho-imagem-width: ;
    --tamanho-imagem-height: ;
    --tamanho-icone: 30px;
    --direcao-flex: row;
    --direcao-pagina: column;
    --cor-primaria: #F5F5DC;
    --cor-secundaria: #3A2D1A;
}

[data-theme="dark"] {
    --cor-primaria: #3A2D1A;
    --cor-secundaria: #F5F5DC;
}

@mixin flex ($direcao) {
    display: flex;
    flex-direction: $direcao;
}

@mixin flex-centralizado-x ($direcao) {
    display: flex;
    flex-direction: $direcao;
    justify-content: center;
}

@mixin flex-centralizado-y ($direcao) {
    display: flex;
    flex-direction: $direcao;
    align-items: center;
}

@mixin flex-centralizado-xy ($direcao) {
    display: flex;
    flex-direction: $direcao;
    align-items: center;
    justify-content: center;
}

@mixin imagem-redonda {
    border-radius: 50%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-primaria);
}

header {
    @include flex-centralizado-xy(column);
    width: 100%;
}

header nav {
    @include flex-centralizado-x(column);
    width: 100%;
    gap: 0.5rem;
}

nav > a {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
}

form {
    @include flex-centralizado-x(column);
    background-color: var(--cor-secundaria);
    margin: 1rem;
    border-radius: 5px;
}

label {
    font-family: var(--fonte-destaque);
    font-size: var(--tamanho-destaque);
    color: var(--cor-primaria);
    margin: 0rem 0.25rem;
}

input, select, option {
    font-family: var(--fonte-texto);
    font-size: var(--fonte-texto);
    color: var(--cor-secundaria);
    margin: 0.5rem 0.25rem;
    border-radius: 4px;
    background-color: var(--cor-primaria);
}

form button {
    background-color: var(--cor-primaria);
    font-family: var(--fonte-destaque);
    color: var(--cor-secundaria);
    width: 35%;
}

h2, h3 {
    font-family: var(--fonte-titulo);
    font-size: var(--tamanho-titulo);
    color: var(--cor-secundaria);
    text-align: center;
}

a {
    font-family: var(--fonte-destaque);
    font-size: var(--tamanho-destaque);
    text-decoration: none;
    color: var(--cor-secundaria);
}

p {
    font-family: var(--fonte-texto);
    font-size: var(--tamanho-texto);
    color: var(--cor-secundaria)
}

footer {
    @include flex-centralizado-xy(column);
    width: 100%;
}

footer p {
    margin: 0.25rem;
}

.icon {
    width: var(--tamanho-icone);
}

#redes-sociais {
    @include flex-centralizado-x(row);
    list-style: none;
    gap: 1rem;
}

#redes-sociais li {
    margin: 0.75rem 0rem;
}

#redes-sociais li a {
    @include flex-centralizado-y(row);
}