<footer>
    <ul id="redes-sociais">
        <li>
            <a href=""><img src="/portfolio/img/icons/github-icon.svg" alt="Logo GitHub" class="icon">
            <p>GitHub</p>
            </a>
        </li>
        <li>
            <a href=""><img src="/portfolio/img/icons/linkedin-icon.svg" alt="Logo LinkedIn" class="icon">
            <p>LinkedIn</p>
            </a>
        </li>
        <li>
            <a href=""><img src="/portfolio/img/icons/instagram-icon.svg" alt="Logo Instagram" class="icon">
            <p>Instagram</p>
            </a>
        </li>
    </ul>
    <!-- Span ano: Geração dinâmica do ano -->
    <p>&copy; <span id="ano"></span> Feito por Brendon J. C. Neves 😉😎 &lt;/&gt;</p>
</footer>