<footer>
    <ul id="redes-sociais">
        <li>
            <a href=""><img src="/img/icons/github-icon.svg" alt="Logo GitHub">
            <p>GitHub</p>
            </a>
        </li>
        <li>
            <a href=""><img src="/img/icons/linkedin-icon.svg" alt="Logo LinkedIn">
            <p>LinkedIn</p>
            </a>
        </li>
        <li>
            <a href=""><img src="/img/icons/instagram-icon.svg" alt="Logo Instagram">
            <p>Instagram</p>
            </a>
        </li>
    </ul>
    <p>&copy; <span id="ano"></span> Feito por Brendon J. C. Neves 😉😎 &lt;/&gt;</p>
</footer>